<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>renhx.alfred.opennewfinder</string>
	<key>connections</key>
	<dict>
		<key>8AE31B60-0EC1-4324-93C6-873F768EC11E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60DAFFB9-A5A0-4A71-835F-A2B8BDA01176</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@ren_hx</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open New Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nf</string>
				<key>text</key>
				<string>Open New Finder Window</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8AE31B60-0EC1-4324-93C6-873F768EC11E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "Finder"
        make new Finder window to (path to home folder)
        set frontmost to true
    end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>60DAFFB9-A5A0-4A71-835F-A2B8BDA01176</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>60DAFFB9-A5A0-4A71-835F-A2B8BDA01176</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8AE31B60-0EC1-4324-93C6-873F768EC11E</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
